* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}
.btn:hover {
    opacity: 0.9;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}
.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}
.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}
.heading.lv3 {
    font-size: 1.8rem;
    line-height: 1.67;
}
.desc {
    font-weight: 400;
    color: #5f5b53;
}
.desc.lv1 {
    font-size: 1.8rem;
    line-height: 1.67;
}
.desc.lv2 {
    font-size: 1.4rem;
    line-height: 1.86;
}
.desc.lv3 {
    font-size: 2.6rem;
    line-height: 1.54;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-clamp-2 {
    --line-clamp: 2;
}
.line-clamp.line-clamp-3 {
    --line-clamp: 3;
}
.break-all {
    word-break: break-all;
}
/* Header */
.header {
    background: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    padding: 36px 0 8px;
    display: flex;
    align-items: center;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
}
.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 6px;
    background: #171100;
    border-radius: 1px;
}
.header .sign-up-btn {
    min-width: 144px;
}
.header .action {
    margin-left: 49px;
}
/* Hero */
.hero {
    padding: 56px 0 64px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}
/* Hero-left */
.hero .media-block {
    position: relative;
    width: 48%;
}
.hero .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}
.media-block .hero-summary {
    position: absolute;
    width: 270px;
    bottom: 48px;
    right: 0;
    padding: 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.hero-summary .item {
    display: flex;
    align-items: center;
}
.hero-summary .item + .item {
    margin-top: 14px;
}
.hero-summary .icon {
    width: 48px;
    height: 48px;
    background: #fff9e8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}
.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}
.hero-summary .info {
    margin-left: 16px;
}
.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* Hero-right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .desc {
    margin-top: 22px;
}
.content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}
.content-block .hero-cta {
    min-width: 180px;
    background: var(--primary-color);
    line-height: 64px;
    border-radius: 32px;
}
.cta-group .watch-video {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 28px;
    cursor: pointer;
}
.watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-left: 14px;
}
.content-block .stats {
    margin: 8px 0 0 -36px;
}
.stats strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    padding-right: 16px;
    padding-left: 36px;
}
/* Popular */
.popular {
    margin-top: 135px;
    padding: 65px 0;
}
.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-top .heading {
    margin-bottom: 16px;
}
.popular-top .desc {
    width: 458px;
}
.popular .controls {
    display: flex;
}
.controls .controls-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.controls .controls-btn + .controls-btn {
    margin-left: 18px;
}
.controls .controls-btn:hover {
    background: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
}
/* Courses */
.popular .courses-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.courses-list .course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}
.courses-list .course-item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}
.course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.course-item .info {
    padding: 16px 22px 22px;
}
.course-item .head .rating,
.course-item .info .foot,
.course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-item .head .title a {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.course-item .info .desc {
    margin-top: 6px;
}
.course-item .rating .star {
    width: 18px;
    height: 18px;
}
.course-item .rating .value {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
    margin-left: 6px;
}
.course-item .info .foot {
    margin-top: 12px;
}
.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.course-item .book-btn {
    border: none;
}
.course-item .book-btn:hover {
    color: #ffffff;
    background: #ffb900;
    cursor: pointer;
}
/* Feedback */
.feedback {
    background: #2e2100;
    margin-top: 135px;
    padding: 96px 0;
}
.feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback-list .feedback-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
.feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-item .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}
.feedback-item .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}
.feedback-item .dots-groups,
.blog .dots-groups {
    margin-top: 28px;
    display: flex;
    align-items: center;
}
.dots-groups .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
.dots-groups .dot.active {
    background: #ffb900;
}
.dots-groups .dot + .dot {
    margin-left: 6px;
}
.dots-groups .dot.active:hover {
    cursor: default;
}
.feedback-item .content {
    width: 66%;
}
.feedback-item .content blockquote {
    padding-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
/* Featured */
.featured {
    margin-top: 135px;
    padding: 65px 0;
}
.featured .body {
    display: flex;
    justify-content: space-between;
}
.featured .images {
    display: flex;
    gap: 0 30px;
}
.featured .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}
.featured .images .lower {
    margin-top: 34px;
}
.featured .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.featured .content .desc {
    margin: 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #5f5b53;
}
.featured .content .desc:nth-of-type(2) {
    margin: unset;
}
.featured .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
    background: #ffb900;
}
/* Featured 2 */
.featured-2nd {
    margin-top: 70px;
}
.featured-2nd .body {
    flex-direction: row-reverse;
}
.featured-2nd .images img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}
.featured-2nd .content {
    width: 49%;
}
.featured-2nd .content .desc {
    margin-bottom: unset;
}
/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}
.blog .blog-top {
    text-align: center;
}
.blog .blog-top .desc {
    width: 448px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
    margin: 16px auto;
}
.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}
.blog-list .blog-item {
    width: calc(33.33% - 20px);
    flex-shrink: 0;
    background: #ffffff;
    border-radius: 16px;
}
.blog-list .blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}
.blog-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog-item .info {
    padding: 20px 20px 28px;
}
.blog-item .info .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    color: #5f5b53;
    padding-bottom: 12px;
}
.blog-item .info .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: #ffb900;
}
.blog-item .info .date::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: -27px;
    bottom: 0;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}
.blog-item .info .title a {
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
    margin: 12px 0;
}
.blog-item .info .blog-cta {
    font-size: 1.4rem;
}
.blog-item .info .blog-cta:hover {
    background: var(--primary-color);
}
.blog .dots-groups {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
